#detailedShow-container {
    display: flex;
    justify-content: space-around;
    padding: 5% 10%;
}

#detailedShowImage-container {
    width: 45%;
}

#detailedShowImage-container img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

#detailedShowInfo-container {
    width: 45%;
    text-align: center;
    position: relative;
}

#detailedShowInfo-container h1 {
    font-size: 50px;
}

#bookingForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#bookingForm input {
    display: block;
    text-align: center;
    margin: 10px;
    padding: 5px 0;
    border-radius: 10px;
    font-size: large;
}

#detailedShowInfo-homebtn {
    font-size: large;
    text-decoration: none;
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgb(1, 201, 201);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

.detailedShowInfo-bookbtn{
    font-size: large;
    width: 100%;
    text-decoration: none;
    border-color: transparent;
    background-color: rgb(1, 201, 201);
    color: white;
    padding: 5px 10px;
    border-radius: 10px;
}

#loadingData {
    text-align: center;
    font-weight: 400;
    margin-top: 100px;
}

#bookingManagement{
    background-color: azure;
    padding: 10px;
    border-radius: 10px;
}

#bookingManagement span {
    font-weight: 800;
}
